#js_particles {
  width: 100%;
  height: 300px;
}

.no-text-decoration {
  text-decoration: none;
  color: var(--primary);
}

.social-icon-links [class^="link"],
.social-icon-links [class^="link"]:hover,
.social-icon-links [class^="link"]:focus {
  text-decoration: none;
}

.site-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-intro {
  flex: 2;
}

.site-logo {
  flex: 1;
}

.site-title {
  font-size: 4rem;
}

.site-logo svg {
  color: var(--bs-primary);
  width: 100%;
  height: 100%;
}

@media(max-width: 576px) {
  .site-hero {
    flex-direction: column;
  }

  .site-title {
    font-size: 9vw;
  }

  .site-logo {
    width: 150px;
  }
}
